@charset "UTF-8";
/*heading font*/
@font-face{
 font-family:Aller_Bd;
 src:url(../fonts/heading/Aller_Bd.ttf);
}
/*paragraph*/
@font-face{
    font-family:AlegreyaSansSC-Regular;
    src:url(../fonts/paragraph/AlegreyaSansSC-Regular.otf);
}
*{
    margin: 0;
    padding: 0
}
body{
    overflow-x: hidden;
    font-size: 1.4rem;
    font-family: AlegreyaSansSC-Regular;
}
h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    font-family:Aller_Bd;
    opacity: 0.85;
}
p,span,q{
    opacity: 0.77;
    text-indent: 2px;
}
button:focus{
    outline: none;
}
button{
    padding: 9px 15px;
    transition: .5s;
}
input[type="text"],input[type="email"],input[type="password"]{
 width: 100%;
    height: auto;
}
textarea{
    width: 100%;
    height: auto;
    resize: none;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
a,a:link,a:hover,a:visited,a:active{
    text-decoration: none;
    color: inherit;
}
img{
    border: none;
    outline: none;
}
