@charset "UTF-8";
/*heading font*/
@font-face{
 font-family:Aller_Bd;
 src:url(../fonts/heading/Aller_Bd.ttf);
}
/*paragraph*/
@font-face{
    font-family:AlegreyaSansSC-Regular;
    src:url(../fonts/paragraph/AlegreyaSansSC-Regular.otf);
}
*{
    margin: 0;
    padding: 0
}
body{
    overflow-x: hidden;
    font-size: 1.4rem;
    font-family: AlegreyaSansSC-Regular;
}
h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    font-family:Aller_Bd;
    opacity: 0.85;
}
p,span,q{
    opacity: 0.77;
    text-indent: 2px;
}
button:focus{
    outline: none;
}
button{
    padding: 9px 15px;
    transition: .5s;
}
input[type="text"],input[type="email"],input[type="password"]{
 width: 100%;
    height: auto;
}
textarea{
    width: 100%;
    height: auto;
    resize: none;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
a,a:link,a:hover,a:visited,a:active{
    text-decoration: none;
    color: inherit;
}
img{
    border: none;
    outline: none;
}
/*carousel*/
#myCarousel{
    width: 100%;
    height: 85vh;
    position: relative;
}
.carousel-control.left,.carousel-control.right{
    background: none;
    
}
.carousel-inner{
    width: 100%;
    height: 100%;
 
   
}
.item1{
    width: 100%;
    height: 100%;
    background: url(../images/slide-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.item2{
    width: 100%;
    height: 100%;
    background: url(../images/slide-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.item3{
    width: 100%;
    height: 100%;
    background: url(../images/slide-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.carousel-indicators li,.carousel-indicators .active{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px double white;
}
.flex{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    width: 550px;
    height: auto;
    margin: 0 auto;
    background: rgba(0,0,0,0.65);
    position: relative;
    padding-bottom: 65px;
    padding-top: 65px;
    word-wrap: break-word;  
    padding-right: 25px;
    padding-left: 25px;
}
    @media only screen and (max-width:600px){
    .title{
        width: 50%;
    }
}